.userEntireContainer {
  width: 50%;
  padding: 40px 20px;
  margin: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.userForm {
  display: flex;
  justify-content: center;
}
.userFormLeft {
  display: flex;
  flex-direction: column;
}
.userFormLeft > label {
  margin-bottom: 5px;
  color: black;
  font-weight: 400;
  font-size: 1.25rem;
}
.userFormLeft > input {
  margin-bottom: 22.5px;
  border: none;
  padding: 5px;
  font-size: .9rem;
  width: 25rem;
  border-bottom: 1px solid black;
}
.userFormLeft > select {
  margin-bottom: 5px;
  padding: 5px;
  height: 30px;
}
.userActualButton {
  border: none;
  padding: 11.5px;
  border-radius: 5px;
  background-color: teal;
  align-self: center;
  width: 12rem;
  color:white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 30px;
}